olist_analytics:
  target: dev

  outputs:
    dev:
      type: postgres
      host: pgdatabase
      port: 5432
      user: dataeng
      password: dataeng123
      dbname: olist_db
      schema: public
      threads: 4